<p>blog works!</p>

<main class="wrapper">
    <section class="form">
        <p> aquí introduciremos los inputs para dar de alta las noticias</p>

        <input type="text" name="title" id="title" placeholder="Título de la noticia" required>
        <input type="text" name="description" id="description" placeholder="Descripción de la noticia" required>
        <input type="text" name="image" id="image" placeholder="URL de la imagen de la noticia" required>
        <input type="date" name="date" id="date" placeholder="Fecha de la noticia" required>
        <button>Agregar noticia</button>

    </section>

    <section class="listNews">
        <p> aquí se mostrarán las noticias dadas de alta</p>

        <ul>
                <li>
                    <h3>Noticia 1</h3>
                    <div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, voluptate.</p> 
                        <img src="https://dummyimage.com/300" alt="Imagen de la noticia">   
                    </div>
                </li>
                <li>
                    <h3>Noticia 2</h3>
                    <div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, voluptate.</p> 
                        <img src="https://dummyimage.com/300" alt="Imagen de la noticia">   
                    </div>
                </li>
                <li>
                    <h3>Noticia 3</h3>
                    <div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, voluptate.</p> 
                        <img src="https://dummyimage.com/300" alt="Imagen de la noticia">   
                    </div>
                </li>
        </ul>
    </section>
</main>
