<p>blog works!</p>

<main class="wrapper">
    <aside class="form">
        <p> aquí introduciremos los inputs para dar de alta las noticias</p>

        <input type="text" name="title" id="title" placeholder="Título de la noticia" required [(ngModel)]="news.titulo">
        <textarea class="description" name="description" id="description" placeholder="Descripción de la noticia" maxlength="2000" required [(ngModel)]="news.descripcion"></textarea>
        <input type="text" name="image" id="image" placeholder="URL de la imagen de la noticia" required [(ngModel)]="news.imagen">
        <input type="date" name="date" id="date" placeholder="Fecha de la noticia" required [(ngModel)]="news.fecha" [(ngModel)]="news.fecha">
        <button (click)="guardarNoticia()">Agregar noticia</button>

    </aside>

    <section class="listNews">
        
        <h2> Listado dinámico de Noticias</h2>
        @for( noticia of arrayNews; track noticia.fecha ){
        <article class="newWrapper">
        
        <h3 class="mainTitle">{{noticia.titulo}}</h3>
         <p class="dateNew">{{noticia.fecha}}</p>  
         <div class="mainContentNew">
            <p class="contentNew">{{noticia.descripcion}}</p>
            <figure>
                <img class="imageNew" [src]="noticia.imagen ? noticia.imagen : imageUnfound" [alt]="noticia.titulo">
            </figure>
            </div> 

        </article>
    }
    </section>
</main>
